
{% extends "blog/base.html" %}
{% load staticfiles %}
{% block extracss %} 
<link href="{% static '../../static/css/about.css' %}" rel="stylesheet" /> 
{% endblock %}
{% block content %}
	 <div class="about">
      <h2>Just about me</h2>
      <ul>
        <p>苏小乙（化名），女，北京大学软件与微电子学院硕士研究生在读。致力于做一名优秀的码农（虽然有些人认为码农并不是一种友善的称呼，但是我觉得自称码农很有趣）。
            在我看来，编程并不仅仅是机械的体力劳动，相反我一直觉得写代码就像变魔术，是件充满创作性的活动。
            程序员是一种神奇炫酷的职业，也是我想为之奋斗的职业。Fighting！</p>
        <p> </p>
        <p></p>
        <p>  </p>
      </ul>
      <h2>About my blog</h2>
      <ul class="blog_a">
        <p>YiBlog包含展示端（即当前所访问的部分）和一个简单的后台管理系统，是提供给我自己使用的个人博客。由于时间有限，目前该版本博客只支持纯文本的博客（但是可以上传图片），
            另外实现了用户管理、博客分组管理、博客管理、角色管理。
            该项目是课程实验的成果，由于时间有限，尚不完善，但是可以作为后期开发的范本。计划后期增加更多功能，如添加日志系统、添加代码编辑提交功能、实现多语版本、实现基于角色的权限控制等。</p>
        <p>该博客系统的开发及部署环境信息：</p>
        <p>语言：Python 2.7&nbsp;&nbsp;Django 1.4&nbsp;&nbsp;MySQL 5.5 </p>
        <p>按照课程要求，目前项目部署在新浪SAE，但是考虑到SAE的收费规则以及对文件上传的限制，后期将使用SSH框架实现Java版本的完善版，并部署到阿里云服务器上。</p>
      </ul>
    </div>
{% endblock %}

